.global_header
    width 100%
    border-bottom 2px solid $cl--second--low

    &__inner
        contain()
        flex-direction column
        +above(3)
            flex-direction row
            align-items flex-end
            justify-content space-between
        padding $sp--double 0

    &__title_and_summary
        flex 1 1 auto

    &__summary
        mt($sp--eighth)

    &__profile_figure
        flex 0 0 32%
        mt()
        +above(3)
            mt(0)
            ml()

    &__profile_image
        box-shadow 4px 4px 0 $cl--second--low
