@font-face
    font-family 'young-serif--regular'
    src url('../fonts/young-serif--regular/young-serif--regular.eot')
    src url('../fonts/young-serif--regular/young-serif--regular.eot?#iefix') format('embedded-opentype'),url('../fonts/young-serif--regular/young-serif--regular.woff') format('woff'),url('../fonts/young-serif--regular/young-serif--regular.ttf') format('truetype')
    font-weight 400
    font-style normal
    font-stretch normal
